.grid-container{
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 8rem;
    height: 100%;
}